.slide-in {
    animation: slideIn .5s ease-in-out forwards;
    transform-origin: center left;
}

@keyframes slideIn {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}