:root {
    /* Colors */
    --white: white;
    --black: black;
    --dark-green: #092e09;
    --dark-green-light: #125b51;
    --green: #23aba3;
    --green-light: #abdf95;
    --background: #e5e5b8;
}